.css-1hkgr98 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background:navy;
    color:black;
}

.css-dvxtzn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.css-1432jzv > :not(style) {
    margin:10px 50px 20px;
}

